.Search-box{
    padding: 50px;
    text-align: center;
}
.search-input{
    padding: 20px 30px;
}
#search-btn{
    padding: 20px 30px;
    border: none;
    background-color: rgba(0, 255, 225, 0.66);
    font-size: 20px;
    color: white;
}
.box{
    height: auto;
    border: 1px solid grey;
    padding: 10px;
    text-align: center;
    margin: 5px;
}
#meals-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: start;
}
.box-img{
    /* width: 300px;
    height: 200px; */
    width: 100%;

}